# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
build/**
.vscode/**
doc/*.toc
doc/*.aux
doc/*.log
doc/*.nav
doc/*.snm
doc/presentation.pdf
doc/presentation_with_notes.pdf
doc/*.fdb_latexmk
doc/*.fls
doc/*.vrb
doc/et_sparse.pdf
doc/*.synctex.gz
doc/et_sparse_with_notes.pdf

# build directories
build/**
build-local/**
